<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer-section">
    <div class="footer-container">
        <p>&copy; 2026 Mohamed El Fankari. All Rights Reserved.</p>
        
        <!-- Footer Secondary Icons -->
        <div class="footer-icons">
            <a href="https://github.com/mohamedefk02" class="icon-secondary" target="_blank">
                <i class="bx bxl-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/mohamed-el-fankari-848826253/" class="icon-secondary" target="_blank">
                <i class="bx bxl-linkedin"></i>
            </a>
           
        </div>
    </div>
</footer>
</body>
</html>
